*{
   padding: 0%;
   margin: 0%;
}

body{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
.main-area{
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: row;
}

.left-div {
   flex: 35%;
   background-color:#404070;
   display: flex;
   font-size: 24px;
   justify-content: center;   
   color: white;
}

.right-div {
   flex: 65%;
   background-color: #fff;
   display: block;
   justify-content: center;
   font-size: 24px;
   color: white;
}


.left-div #UpStart{
   display: flex;
   align-items:center ;
   flex-direction: column;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
   color: #010c16;
}
.image {
   margin-top: 30%;  
   align-self: center;
   vertical-align: middle;
   object-fit: cover;
   border-radius: 50%;

}
.desc{
   margin-top: 20%;  
   color: rgb(16, 181, 236);
   font-family: 'Times New Roman', Times, serif;
}
.slogan{
   padding: 20px;
}

.return-home {
   position: absolute;
   top: 20px;
   left: 20px;
   color: #6c757d;
   text-decoration: none;
   font-size: 0.9rem;
}

h1 {
   font-size: 1.5rem;
   font-weight: 600;
   color: #333;
   margin-bottom: 5px;
}

p {
   color: #666;
   font-size: 0.9rem;
}

.login-form {
   margin-top: 20px;
}

.input-group {
   display: flex;
   align-items: center;
   background-color: #f7f9fb;
   border: 1px solid #ddd;
   padding: 10px;
   margin-bottom: 20px;
   border-radius: 4px;
}

.input-group label img {
   width: 20px;
   margin-right: 10px;
}

.input-group input {
   border: none;
   background: none;
   width: 100%;
   padding: 5px;
   outline: none;
   font-size: 1rem;
}

.show-password {
   cursor: pointer;
   color: #6c757d;
   font-size: 0.8rem;
}

.login-button {
   width: 100%;
   padding: 15px;
   background-color: #333;
   color: #fff;
   font-size: 1rem;
   font-weight: bold;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.password-issue {
   font-size: 0.8rem;
   text-align: center;
   margin-top: 15px;
   color: #6c757d;
}

.not-member {
   text-align: center;
   font-size: 0.9rem;
   margin-top: 10px;
}

.not-member a {
   color: #4c4cdb;
   text-decoration: none;
   font-weight: bold;
}

footer {
   font-size: 0.7rem;
   text-align: center;
   color: #ccc;
   margin-top: 20px;
}
.SignUp{
 margin: 10%;
}

   